@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";

@import "utils/varibles";
@import "utils/mixins";

@import "component/header";
@import "component/toolbar";
@import "component/formula";
@import "component/table";
@import "component/dashboard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
  color: #888;
}